<!-- 

<mat-toolbar color="primary"> <span> <a [routerLink]="['/']"> Ang Proj </a> </span>
  <span class='spacer'></span>

  <ul>
    <li>

      <a mat-button [routerLink]="['/create']" routerLinkActive="mat-accent"> Add A Post </a>

    </li>
    <li>

        <a mat-button [routerLink]="['/login']" routerLinkActive="mat-accent"> Login </a>

      </li>
  </ul>

</mat-toolbar> -->



<mat-toolbar color="primary"> <span> <a [routerLink]="['/']"> Ang Proj </a> </span>
  <span class='spacer'></span>

  <ul>
    <li>

      <a mat-button [routerLink]="['/create']" routerLinkActive="mat-accent"> Add A Post </a>

    </li>
    <li>

        <a mat-button [routerLink]="['/login']" routerLinkActive="mat-accent"> Login </a>

      </li>
  </ul>

</mat-toolbar>

